# Order Service Config
ORDER_SERVICE_PORT=3002
ORDER_DATABASE_URL=postgres://user:password@localhost:5432/order_db

# Product Service Config
PRODUCT_SERVICE_PORT=3001
PRODUCT_DATABASE_URL=postgres://user:password@localhost:5432/product_db

# Kitchen Service Config
KITCHEN_SERVICE_PORT=3003
KITCHEN_DATABASE_URL=postgres://user:password@localhost:5432/kitchen_db

# RabbitMQ Config
RABBITMQ_URL=amqp://guest:guest@localhost:5672
